@font-face {
    font-family: Kanit;
    src: url('http://www.suedee.net/fonts/Kanit-Regular.ttf');
}
@font-face {
    font-family: Prompt;
    src: url('http://www.suedee.net/fonts/Prompt-Regular.ttf');
}
